@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing:border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	font: normal 100%/1.4 Helvetica, sans-serif;
	background-color: #fff;
}

img {
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
}

.main-wrapper {
	margin: 1em;
}

.will-logo {
	width: 120px;
	margin: 0 auto;
	display: block;
}

h1 {
	margin: 0.5em 0 0.125em;
	color: #f95a5a;
}

.main-wrapper p {
	margin-top: 0.25em;
	color: #333;
}

.main-wrapper a {
	color: #333;
}

.btn {
	display: block;
	background-color: #4fbeb4;
	border-radius: 10px;
	color: rgb(255, 255, 255);
	text-decoration: none;
	text-align: center;
	padding: 0.5em 0.25em 0.5em 0.25em;
	width: 180px;
	margin: 0 0 0 0.5em;
	font-size: 1.25em;
}

.btn:hover,
.btn:focus,
.btn:active {
	background-color: #448592;
}

.portrait {
	margin-bottom: 5em;
}

.portfolio {
	width: 100%;
}

figure {
	display: block;
	margin: 0 auto;
	max-width: 600px;
}

figure img {
	display: block;
	width: 100%;
	margin: 0 auto;
}

figcaption {
	text-align: center;
}

footer {
	background-color: #f95a5a;
	color: #fff;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

footer .email {
	text-align: center;
	display: block;
	color: #fff;
	text-decoration: none;
	margin-top: 0.25em;
}

footer ul {
	display: block;
	margin: 0.25em 0 0;
	list-style-type: none;
	text-align: center;
	padding: 0;
}
footer p {
	margin: 0.5em;
	font-size: 0.75em;
	text-align: center;
}

footer a:hover {
	text-decoration: underline;
}

.social-media li {
	display: inline-block;
	width: 30px;
}

.social-media img {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0.25em;
}

@media only screen and (min-width: 31em) {
	.will-logo {
		float: right;
		display: inline-block;
	}

	h1 {
		float: left;
		display: inline-block;
		width: 75%;
	}

	.main-wrapper p {
		float: left;
		display: inline-block;
		width: 75%;
	}

	.portfolio-page .portrait {
		float: right;
		max-width: 500px;
	}
}

@media only screen and (min-width: 45em) {
	.bg-img {
		background-image: url(../img/bg.jpg);
		background-position: right bottom;
		background-repeat: no-repeat;
		background-size: 90%;
		height: 100%;
	}

	.landing-page .portrait {
		display: none;
	}

	h1 {
		width: 50%;
	}

	.main-wrapper p {
		width: 51%;
	}
}

@media only screen and (min-width: 70em) {
	.bg-img {
		background-size: 85%;
	}
}

@media only screen and (min-width: 85em) {
	.bg-img {
		background-size: 75%;
	}
}

@media only screen and (min-width: 115em) {

	.bg-img {
		background-size: 65%;
	}

	html {
		font-size: 150%;
	}
}

/*========CLEARFIX========*/

.clearfix:after,
.clearfix:before {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}
